@media screen and (max-width: 500px){
  * {
    text-align: center;
}

body {

}
.heading {
    font-family: Arial;
    margin-top:40vh;
}
.URL-input, .convert-button {
    font-size:1.3em;
    padding:5px 10px;
}
.URL-input {
    border-radius:4px 0px 0px 4px;
    width:15em;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #EEEEEE;
    outline:none;
}
 URL-input2 {
    border-radius:4px 0px 0px 4px;
    width:15em;
    text-align: left;
    border:2px solid #121212;
    background: #121212;
    outline:none;
}
.URL-input:focus {
    border:2px solid #0485ff;
}
 .URL-input2:focus {
    border:2px solid #0485ff;
}
.convert-button {
    border-radius:0px 4px 4px 0px;
    border:2px solid #0485ff;
    background: #0485ff;
    color:white;
}

p {
      font-family: Arial;
    color: #0485ff
      font-size:50px
}

.button {
  background-color: #0485ff;
  border: none;
  color: white;
      padding: 15px 32px;
  text-decoration: none;
} 

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f8f8f8;
   color: black;
   text-align: center;
}


.footer2 {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #3d3838;
   color: white;
   text-align: center;
}


.mobile {border-radius: 50%;}






